{% extends 'base.html' %}
{% block home %}
    <div class="container intro shadow">
        <div class="welcome">
            Welcome
        </div>
        <div class="request">
            please sign up
        </div>
        <div class="buttons">
            <a href="student-sign-up/" class="btn btn-success">I am a student</a>
            <a href="teacher-sign-up/" class="btn btn-warning">I am a teacher</a>
        </div>
        <div class="have-acc">
            <a href="login/">Already have an account</a>
        </div>
    </div>
{% endblock home %}