{% extends 'base.html' %}

{% block students_previous_applications %}

    {% if applications %}
        <div class="student-applications container">
            {% for leave in applications %}
                <div class="request-box shadow">
                    <div><span><b>Mentie:</b>  </span>{{ leave.student.user.name }}</div>
                    <div><span><b>Purpose:</b>  </span>{{ leave.purpose }}</div>
                    <div><b>From:</b> {{ leave.date_from }}</div>
                    <div><b>Till:</b> {{ leave.till_date }}</div>
                    {% if leave.approved %}
                        <div class="accepted-req">
                            your leave application has been <b style="color:green;">APPROVED</b>
                        </div>
                        {% if leave.recommendation %}
                            <div class="rec-by-mentor" style="border: 1.5px solid green"><span><b>Recommendation by mentor:</b>  </span>{{ leave.recommendation }}</div>
                        {% endif %}
                    {% elif leave.rejected %}
                        <div class="rejected-req" style="border: 1.5px solid red">
                            your leave application has been <b style="color:red;">REJECTED</b>
                        </div>
                        {% if leave.reason %}
                            <div class="rec-by-mentor"><span><b>Reason by mentor:</b>  </span>{{ leave.reason }}</div>
                        {% endif %}
                    {% else %}
                        <div><b>Status:</b><span style="color:orange"> Pending...</span></div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>Nothing to show</h1>
    {% endif %}

{% endblock students_previous_applications %}